<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
    <script src='/js/jquery-1.9.1.js'></script>
    <script src='/bootstrap/js/bootstrap.js'></script>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>BFFs</title>
  </head>
  <body>
  <!-- <div class = "container"> -->
      <div class = "navbar-inner">
        <nav class = "navbar">
          <ul>
            <li class="nav_li"><a href='/'>Home</a></li>
            <li class="nav_li"><a href='/new_friend'>Add Friend</a></li>
            <li class="nav_li"><a href='/friends'>View Friends</a></li>
          </ul>
        </nav>
      </div>
    <%= yield %>
  </body>
  <!-- </div> -->
</html>