<div class="header"><h1 class="bffs">BFFs</h1></div>
<div id="new_friend_container">
  <div id="form">
    <form action="/create" method="post">
        <p>Add your newest BFF:</p>
        </br>
        <p>Name: </p>
        <input class="input_field" type="text" name="name" autofocus>
        <p>Age: </p>
        <input class="input_field" type="text" name="age">
        <p>Gender: </p>
        <input class="input_field" type="text" name="gender">
        <p>Image (URL): </p>
        <input class="input_field" type="text" name="image">
        <p>Twitter (URL): </p>
        <input class="input_field" type="text" name="twitter">
        <p>Github (URL): </p>
        <input class="input_field" type="text" name="github">
        </br>
        </br>
        <button class ="btn btn-info">Save changes</button>
    </form>
  </div>

  <div id="new_friend_images">
    <img class="nbff" src='bff_5.jpg'>
  </div>
</div>


