<p>How do I lookup a movie?</p>
<p>Type the movie title into the <a href="/home">field</a> and click 'Get Movie!'.</p>
<p>Can I 'like' Movie Lookup on Facebook?</p>
<p>Unfortunately we're not on Facebook yet, but thanks for liking us anyway!</p>
