<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <script src='/js/jquery-1.9.1.js'></script>
    <script src='/bootstrap/js/bootstrap.js'></script>
    <title>Twitter Bootstrap</title>
  </head>
  <body>
    <div class="container">
<div class="container">
    <div class="row">
      <div class="span4">a</div>
      <div class="span8"><%= yield %></div>
    </div>
    <div class="row">
      <div class="span3">c</div>
      <div class="span3">d</div>
      <div class="span3">e</div>
      <div class="span3">f</div>
    </div>
    <div class="row">
      <div class="span2">g</div>
      <div class="span10">h</div>
    </div>
  </div>

    </div>
  </body>
</html>

