<div class="mainpage">
  <h1>Create a new task below:</h>

  <form action='/create' method='post'>
    <p>Task</p>
    <input type="text" name="task" autofocus>
    <p>Description</p>
    <textarea name="description" autofocus></textarea><br/>
    <button>Submit</button>
  </form>
</div>


